APP_NAME=Laptop Price Prediction API

ENVIRONMENT=development

API_TITLE=Laptop Price Prediction API

API_VERSION=1.0.0

API_DESCRIPTION=Machine Learning API for Laptop Price Prediction

API_V1_PREFIX=/api/v1

HOST=0.0.0.0

PORT=8000

MODEL_PATH=artifacts/computer_best_model.joblib

PREPROCESSOR_PATH=artifacts/computer_preprocessor.joblib

OPTIONS_PATH=artifacts/options.json

